@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  @apply w-full h-full block;
}

@layer components {
  .commands {
    /* element */
    @apply bg-transparent h-10 w-[90%] flex flex-col mb-3
    rounded-md text-center justify-center transition-all
    duration-[250ms] relative box-border text-black-100;

    /* hover */
    @apply hover:text-blue-500 hover:cursor-pointer;

    /* before */
    @apply before:absolute before:box-border before:content-[""]
    before:w-0 before:h-0 before:border-solid before:border-2
    before:border-transparent before:top-0 before:right-0 
    before:transition-all before:duration-[150ms];

    /* hover before */
    @apply hover:before:w-full hover:before:h-full
    hover:before:border-t-blue-500 hover:before:border-r-blue-500
    hover:before:[transition:height_ease-out_500ms,_width_ease-out_250ms];

    /* after */
    @apply after:absolute after:box-border after:content-[""]
    after:w-0 after:h-0 after:border-solid after:border-2
    after:border-transparent after:bottom-0 after:left-0
    before:transition-all before:duration-[150ms];

    /* hover after */
    @apply hover:after:w-full hover:after:h-full
    hover:after:border-b-blue-500 hover:after:border-l-blue-500
    hover:after:[transition:height_ease-out_500ms,_width_ease-out_250ms];
  }
}

